.nav_mobile{
    display: none;
    background: rgb(8, 8, 8);
    width: 100%;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.btn_menu{
    color: #fff;
    width: 25px;
    height: 25px;
}

.btn{
    padding: .5rem 1.4rem;
    background: #fff;
    border-radius: 4rem;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: .7rem;
}

@media (max-width:768px) {
    .nav_mobile{
        display: flex;
    }
}