.container {
    padding: 1rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: fit-content;
    height: 270px;
    background: #1d1d1d;
    overflow: hidden;
    cursor: pointer;
}

.container:hover {
    background: #3f3f3f71;
}

.content_img {
    position: relative;
}

.image {
    border-radius: 3px;
    width: 160px;
    height: 170px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.397) 0px 7px 29px 0px;
}

.play {
    background: #56d14b;
    border: 0;
    outline: 0;
    display: none;
    place-content: center;
    padding: 8px;
    border-radius: 50%;

    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.container:hover .play {
    display: grid;
}

.play_icon {
    width: 30px;
    height: 30px;
}

.play:hover {
    transform: scale(1.05);
    background: #61e955;

}

.info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title {
    font-size: 1rem;
    color: #fff;
}

.desc {
    font-size: .9rem;
    font-weight: 500;
    color: #cacaca;
    text-align: justify;
    width: 160px;
    /* height: 100px; */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}