.container {
    width: 100%;
    padding: 20px 2rem;
    background: rgba(0,0,0,.4);
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 1;
    
}

@media (max-width:425px) {
    .container{
        display: none;
    }
}


.buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn{
    padding: .5rem;
    border-radius: 50%;
    background: rgba(122, 122, 122, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;

}
.icon{
    color: #fff;
}

.items {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    right:  300px;
}

.btn_inscrever {
    color: #ccc;
    font-size: .9rem;
    font-weight: bold;
    text-decoration: 0;
}
.btn_inscrever:hover{
    color: #fff;
    transform: scale(1.05);
}
.btn_entrar{
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: 0;
    color: #000;
    font-weight: bold;
    font-size: .9rem;
}

.btn_entrar:hover{
    transform: scale(1.04);
}